.button {
  background: $buttonColor;
  color: $white;
  font-family: $headingFont;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  display: block;
  margin: 1rem auto;

  &:hover, &:focus {
    background: $black;
    color: $hoverColor;
    box-shadow: 0 0 0 0.5rem $hoverColor;
  }
}

// Landing page buttons
.gameButtons {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  
  @include tablet {
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
  }

  // @include desktop {
  //   width: 60%;
  // }

  .button {
    font-size: 3rem;

    @include tablet {
    font-size: 5rem;
    margin: 0 2rem;
    }

    @include desktop {
      margin: 0 3rem;
    }
  }
}

.returnHome {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  border-radius: 50%;
  line-height: 2.7rem;
  font-size: 5rem;
  background: $hoverColor;
  padding: 1.5rem;
  color: $black;

  &:hover {
    box-shadow: 0 0 0 0.5rem $hoverColor;
    // background: $textColor;
    background: $black;
    color: $hoverColor;
  }
}


