.existingGames {
  display: flex;
  flex-direction: column;

  h2 {
    font-size:5rem;
    font-family: $headingFont;
  }

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.existingGame {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    border: 0.2rem solid $hoverColor;
    padding: 2.5rem 0;
    margin: 2rem 0;
    text-align: center;

    @include tablet {
      flex: 1 1 calc(100% / 3 - 2rem);
      margin: 1rem;
    }

    &:hover {
      box-shadow: 0 0 0 0.3rem $hoverColor;
      cursor: pointer;
    }

    &:focus {
      box-shadow: 0 0 0 0.3rem $white;

    }
    
    h3 {
      font-family: $headingFont;
      font-size: 3.5rem;
      color: $white;
      margin-top: 0.8rem;
    }
    
    p {
      color: $white;
      margin: 0.5rem 0;
    
      @include tablet {
        font-size: 1.8rem;
      }
    }
  
}

.existingGame:nth-child(odd) {
  background: adjust-color($textColor, $alpha:-0.10)
}

.existingGame:nth-child(even) {
  background: adjust-color($buttonColor, $alpha:-0.10)

}