.wrapper {
	// text-align: center;
	width: 85%;
	max-width: 1280px;
	margin: 0 auto;
}

html {
	font-size: 62.5%; // 10px on most browsers
	font-family: $baseFont;
}

body {
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/softerQuestionPattern.png') fixed;
	height: 100vh;
	font-size: 1.6rem;
	color: $textColor;
}

a {
	color: $buttonColor;
  text-decoration: none;
	&:focus,
	&:hover {
		color: $hoverColor;
		padding-bottom: 0.2rem;
		border-bottom: 2px solid $hoverColor;
	}
}

.skip-link {
	position: absolute;
	left: -1000px;
	top: 0;
	z-index: 999;
	background: white;
	color: $black;
	text-decoration: none;
	padding: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.skip-link:focus {
	left: 0;
}