.wrapper {
	text-align: center;
	width: 85%;
	max-width: 1400px;
	margin: 0 auto;
}

html {
	font-size: 62.5%;
	font-family: $baseFont;
}

// body {
//     background: linear-gradient(to top right, $red, $orange, $yellow) fixed;
//     height: 100vh;
// }
