html, body, #root, .App, .App > .wrapper {
  height: 100%;
}

.App .wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
	max-width: 1100px;
  margin: 0 auto;

  @include tablet {
    width: 75%;
  }
}

html {
	font-size: 62.5%; // 10px on most browsers
	font-family: $baseFont;
}

body {
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/softerQuestionPattern.png') fixed;
	font-size: 1.6rem;
  color: $textColor;
  animation: animatedBackground 85s linear infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -100% 150%; }
}

a {
	color: $buttonColor;
  	text-decoration: none;
	&:focus,
	&:hover {
		color: $hoverColor;
		padding-bottom: 0.2rem;
		border-bottom: 0.2rem solid $hoverColor;
	}
}

.skip-link {
	position: absolute;
	left: -1000px;
	top: 0;
	z-index: 999;
	background: white;
	color: $black;
	text-decoration: none;
	padding: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.skip-link:focus {
	left: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

// Block element styling
.newGameTrivia,
.savedGame,
.gameListSection {
  position: relative;
}

.gameHeading,
.gameListHeading,
.criteria {
  background: adjust-color($buttonColor, $alpha:-0.25);
  border: 0.8rem solid $hoverColor;
  border-radius: 1rem;
  padding: 2rem 0;
  margin: 2rem 0;
}

.gameHeading .wrapper,
.gameListHeading .wrapper,
.criteria .wrapper {
  text-align: center;

  @include tablet {
	width: 75%;
  }

  h2, h3, h4 {
    color: $white;
  }

  h2 {
  font-family: $headingFont;
  font-size: 5rem;
	margin: 1rem 0;
  }

  h3 {
    margin-bottom: 1rem;
  }

  h3, h4 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
}

