header {
  padding: 5rem 0 2rem;
}

h1 {
  text-transform: uppercase;
  text-shadow: 0.5rem 0.5rem $buttonColor;
  color: $hoverColor;
  font-family: $headingFont;
  line-height: 1;
  margin: 0;
  text-align: center;
  transition: all 0.5s;
}

.largeHeader h1 {
  font-size: 7.5rem;

  @include tablet{
    font-size: 8.5rem;
    }

  @include desktop{
    font-size: 9rem;
    }

  @include desktopBigger{
    font-size: 10rem;
  }
}

.smallHeader h1 {
  font-size: 5rem;
  text-shadow: 0.25rem 0.25rem $buttonColor;
}
