header {
  padding: 5rem 0 2rem;
}

h1 {
  text-transform: uppercase;
  text-shadow: 0.5rem 0.5rem $orange;
  color: $yellow;
  font-family: $headingFont;
  line-height: 1;
  margin: 0;
  text-align: center;
  transition: all 0.5s;
}

.largeHeader h1 {
  font-size: 7.5rem;
}

.smallHeader h1 {
  font-size: 4rem;
  text-shadow: 0.25rem 0.25rem $orange;
}