$headingFont: "Caveat Brush", cursive;
$baseFont: "Lato", sans-serif;

$black: #000;
$white: ghostwhite;
$hoverColor: #ffe500;
$buttonColor: #d26121;
$textColor: #550e1b;


@mixin phone {
    @media (min-width: 360px) { @content; }
}

@mixin tablet {
    @media (min-width: 768px) { @content; }
}

@mixin desktop {
    @media (min-width: 1024px) { @content; }
}

@mixin desktopBigger {
    @media (min-width: 1280px) { @content; }
}