@import 'setup';
@import 'variablesAndMixins';
@import 'global';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'newGame';
@import 'gameList';


.criteria,
.question,
.existingGames,
.savedGame {
    background: $white;
    border-radius: 1rem;
    padding: 2rem 7.5%;
    margin: 2rem 0;
}

html, body, #root, .App, .App .wrapper {
  height: 100%;
}

.App .wrapper {
  display: flex;
  flex-direction: column;
}

.gameButtons {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}



//RADIO BUTTON STYLING
// Hide the default radio button. This should be accessible since we are just hiding.
/*.choices {
  .radioButton {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  }

  // Style the span that will act as the radio butotn
  .checkMark {
      position: absolute;
      top: 0;
      left: 0;
      height: 2rem;
      width: 2rem;
      background-color: $yellow;
      border-radius: 50%;
  }

  // Change background color when we hover the custom radio
  .labelRadioContainer:hover input ~ .checkMark {
      background-color: gray;
  }

  // Create the dot in the radio button. hide it so it does not show up when radio is not selected
  .checkMark::after {
      content: "";
      position: absolute;
      display: none;
      top: 0.6rem;
      left: 0.6rem;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background: $orange;
  }

  // Display the dot when selected
  .radioButton:checked ~ .checkMark::after {
      display: block;
  }

  .radioButton:focus ~ .checkMark{
      box-shadow: 0 0 5px $orange;
  }
}
*/