@import 'setup';
@import 'variablesAndMixins';
@import 'global';
@import 'header';
@import 'footer';


.question,
.criteria,
.existingGames {
    background: salmon;
}

button {
  background: $orange;
  border: none;
  padding: 1rem;
  color: $white;
  margin: 0.5rem;
}